{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial">
        <link rel="stylesheet" type="text/css" href="{% static 'accountlist/css/index.css'%}">
        <title>accountlist app</title>
    </head>
    <body >
        <div class="container-fluid" id="wrapper">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4" id="content">
                    <h1>Record your accounts</h1>
                    <form action="{% url 'add' %}" method="POST" role="form">
                        {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            {{ form.text}}
                            <span>
                                <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
                            </span>
                            <div class="btn-group">
                                <a href="{% url 'deleteoutdated'%}">
                                <button clas="button" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>DELETE
                                </button></a>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group t20">
                        {% for accountlist in account_items %}
                            {% if accountlist.outdated %}
                        <li  class="list-group-item account-outdated">{{accountlist.text}}</li>
                        {% else %}
                        <a href="{% url 'outdated' accountlist.id %}"><li  class="list-group-item">{{accountlist.text}}</li></a>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </form>
                <div class="row t10">
                    <div class="col-lg-12">

                    </div>

                </div>

                </div>
            </div>
            <p>This is my homepage</p>
        </div>
        

    </body>
    <div class="row pad">
        <div class="col-lg-12 text-center">
            Copyright &copy; Grootcodes21
        </div>
    </div>
</html>